<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>

<form action="/add-product" method="post">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="number" name="price" placeholder="Price">
    <br>
    <input type="number" name="is_new"placeholder="Is_new">
    <br>
    <input type="number"name="type"placeholder="Type">
    <br>
    <input type="text" name="description" placeholder="Description">
    <br>
    <input type="text" name="image" placeholder="image">
    <button type="submit">Add</button>
</form>

</body>
</html>