<!doctype html>
<html>
<head>

    <title>Логин</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <script type="text/javascript" src="/js/jquery.3.3.1.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>

    <link rel="stylesheet" href="/styles/Style.css">
</head>
<body>


