{{>header}}
{{>navigation}}

<div class="my-container"><center>

    <img src="Gallery/logo.png"  id="fon" style="width:300px">    <h2>Авторизация</h2>
    {{#message}}
        <p>{{message}}</p>
    {{/message}}
    <form action="/login" method="POST" >

        <br>
        <input type="text" name="login" placeholder="login">
        <br>
        <input type="Password" name="password" placeholder="Password">
        <br>
        <button type="submit">Войти</button>
        <br>
        <p><a href="/sign-up"> Регистрация</a></p>

    </form>
</center>
</div>
<body>